body{
    background-color: white;
}

#id{
    background-color: #E0D5CD;
    margin: 16px 14px;
    width: 97%;
    height: 93%;
    position: absolute;
}

nav{
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 0 7rem;
    display: inline-block;
    text-align: center;
    width:100%;
    margin:auto; 
}

a{
    font-family: "Open Sans", sans-serif;
    color: #4d4d4e;
    letter-spacing: 3px;
    font-size: 1.3rem;
    font-weight: normal;
    padding: 30px;
    text-decoration: none;
}

h1{
    font-family: "Open Sans", sans-serif;
    font-size: 3em;
}

h2{
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    font-size: 19px;
    font-weight: normal;
    color: white;
}

.main-text{
    margin: auto 5em;
    width: 40%;
}

.tags{
    color: #515152;
    position: absolute;
    bottom: 0px;
    left: 80px;
    font-size: 18px;
    font-family: 'Myriad Italic', cursive;
}

/* MEDIA QUERIES */

/* tablets */
/* @media screen and (max-width: 768px){

} */

/* mobiles */
/* @media screen and (max-width: 480px){

} */