nav a, .cloud-element a{
    font-family: "Open Sans", sans-serif;
    color: $color-grey-dark;
    letter-spacing: .3rem;
    font-size: 2rem;
    font-weight: normal;
    padding: 3rem;
    text-decoration: none;
}